.container {
	position: fixed;
	left: 0;
	width: 620px;
	height: 100%;
	overflow: scroll;
	transform: translateX(-100%);
	transition: transform 0.6s ease;
}

.container_open {
	transform: translateX(0);
}

.container::-webkit-scrollbar {
	display: none;
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 40px;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	overflow: auto;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-block-start: auto;
}

.form::-webkit-scrollbar {
	display: none;
}
